li.nav{
    display:inline;
}
li a:hover {
    background-color: #ffd700;
  }

  li a {
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    color: #ffcc00;
    opacity: 0.8;
    border-radius:30px;

    display: inline-block;
    color: rgb(7, 7, 7);
    padding: 14px 16px;
    text-decoration: none;
  }
  img{
    width:170px;
  }
  body {
    font-family: 'Itim', cursive;
    background-color: #fdf6b2;
    margin: 0;
    padding: 0;
}






.feature-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #ffcc00;
    margin-top: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.feature-item {
    background-color: #fffbee;
    padding: 20px;
    border-radius: 20px;
    box-shadow: none;
    border: 2px solid #ffd700;
    text-align: center;
}

.feature-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.feature-item p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}