
img{
  width:170px;
}

body{
  background-image:url(images/PebbleBeach.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
}

.header{
    border-style: solid;
    color: #fdf6b2;
    opacity: 0.8;
    border-radius:30px;
    background-color: #fdf6b2;


  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
    
}

li.nav{
    display:inline;
}
li a:hover {
    background-color: #ffd700;
  }

  li a {
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    color: #ffcc00;
    opacity: 0.8;
    border-radius:30px;

    display: inline-block;
    color: rgb(182, 29, 29);
    padding: 14px 16px;
    text-decoration: none;
  }

  .BOX{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    
  }
  .box{
    display:flex;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    opacity: 0.8;
    border-radius:30px;
    background-color: #fdf6b2;

    width:400px;
    height:500px;
    
    color: rgb(182, 29, 29);
    padding: 14px 16px;
    text-decoration: none;
    
  }

.buttons{
  font-size:24px;
  border-style:solid;
  color:black;
  width:150px;
  border-radius:30px;
  margin:auto;
  background-color: #fffbee;
  padding: 14px 16px;
  text-align:center;
  text-decoration:none;
}
  

h4{
  font-size:24px;
  color:#fffbee;
}

.business{
  font-weight:bold;
}
span {
  background-color:#fffbee;
}